.header {
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  background: #fff;
}

.headerContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.logo {
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}
