.productGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
  margin: 8px;
}

@media (max-width: 1200px) {
  .productGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 900px) {
  .productGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .productGrid {
    grid-template-columns: 1fr;
  }
}

.loadMoreBtnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0px;
}

.loadMoreBtn {
  padding: 10px 14px;
  border: 1px solid var(--primary);
  background: var(--primary);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.loadMoreBtn:hover {
  background: var(--primary-hover);
}

.loadMoreBtn:disabled {
  cursor: not-allowed;
}
